<header>
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<a href="/"><img src="{% if siteControls.logo | length %}{{ siteControls.logo.first.url }}{% endif %}" alt="{{ siteName }}"></a>
			</div>
			<div class="col-xs-6 col-sm-8 mainnav" id="mobile-menu">
				{{ craft.navee.nav('mainNav') }}
			</div>
		</div>
	</div>
</header>

