<div class="builder-section hero {{ block.headerColorTheme }}" style="background-image:url('{% if block.backgroundImage | length %}{{ block.backgroundImage.first.url('fullWidth') }}'){% endif %}{% if block.heroHeight | length %};height:{{ block.heroHeight }}px{% endif %}; ">
	<div class="container-fluid  wrap" style="align-items:{{ block.contentPosition }}">
		<div class="row ">
			{% set width = ( block.columnWidth.value ) %}
			{% set offset = ( 12 - ( width ) ) %}
			<div class="col-md-{{ block.columnWidth }} {% if block.contentAlignment == 'right' %} col-md-push-{{ offset }}{% endif %} {{ block.headerColorTheme }} item">
				{{ block.richText }}
			</div>
		</div>
	</div>
	<div class="overlay"></div>
</div>
