
{% include '_includes/body-block-open' %}
    <div class="container-fluid flexbox main-content wrap">
        <div class="row flex-parent">
        {% for item in block.children %}
            <div class="col col-md-{{ item.columnWidth }} {% if item.columnOffset | length %} col-md-push-{{ item.columnOffset }}{% endif %}">
                <div class="block item">
                    {{ item.richText }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
