{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ block.youtubeId }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
	</div>
</div>