
<div class="col-xs-12 {{ item.fieldWidth }} form-item">

    <input {% if item.required %}required{% endif %} id="{{ item.fieldName|lower|replace(' ', '-') }}" type="{{ item.fieldType }}" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" name="message[{{ item.fieldName }}]" value="">
</div>