// Sandbox Styles

// Mixins
// ------------------------

@mixin clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}


// Vaiables
// ------------------------

$min-width: 993px;
$num-columns: 12;
$grid-width: $min-width;
$grid-gutter: 1rem;
$grid-container-prefix: 'row';
$grid-item-prefix: 'col';


// Grid
// ------------------------

// Grid container
.#{$grid-container-prefix},
.#{$grid-item-prefix} {
    box-sizing: border-box;
}

.#{$grid-container-prefix} {
    margin: 0 (-$grid-gutter);
    zoom: 1;
    @include clearfix;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Grid item
.#{$grid-item-prefix} {
    position: relative;
    float: left;
    padding: 0.75rem $grid-gutter;
    width: 100%;
    vertical-align: top;
}

// No padding grid item
.#{$grid-item-prefix}-np {
    padding: 0;
}

// No padding grid
.#{$grid-container-prefix}-np {
    > .#{$grid-item-prefix} {
        padding: 0;
    }
}

// Center grid
.#{$grid-container-prefix}-center {
    text-align: center;
    font-size: 0;

    > .#{$grid-item-prefix} {
        font-size: 1rem;
        float: none !important;
        display: inline-block;
        text-align: left;
    }
}

// Reversed grid
.#{$grid-container-prefix}-reverse {
    &.g-flex {
        flex-flow: row-reverse wrap;
    }

    > .#{$grid-item-prefix} {
        float: right;
    }
}

// Build the grids!
@media (min-width: $min-width) {
    // Add 12-column classes
    @for $i from 1 through $num-columns {
        $bp-width: percentage($i/$num-columns);

        // Add block grids for up to $num-columns items
        .#{$grid-container-prefix}-#{$i} {
            > .#{$grid-item-prefix} {
                width: percentage(1/$i);

                &:nth-of-type(1n) {
                    clear: none;
                }

                &:nth-of-type(#{$i}n+1) {
                    clear: both;
                }
            }
        }

        // Add grid item
        .#{$grid-item-prefix}-#{$i} {
            width: $bp-width;
        }

        // Add grid item first
        .#{$grid-item-prefix}-first {
            clear: left;
        }

        // Add grid item last
        .#{$grid-item-prefix}-last {
            clear: right;
        }

        // Add grid item offset
        .#{$grid-item-prefix}-offset-#{$i} {
            margin-left: $bp-width;
        }

        // Add grid item push
        .#{$grid-item-prefix}-push-#{$i} {
            left: $bp-width;
        }

        // Add grid item pull
        .#{$grid-item-prefix}-pull-#{$i} {
            right: $bp-width;
        }

        // Add 5-column classes
        @if $i < 6 {
            $bp-fifth-width: percentage($i/5);
            $fifth-fixed-width: ($grid-width/5);

            // Add fifths grid item
            .#{$grid-item-prefix}-#{$i}-5 {
                width: $bp-fifth-width;
            }

            // Add fifths grid item offset
            .#{$grid-item-prefix}-offset-#{$i}-5 {
                margin-left: $bp-fifth-width;
            }

            // Add fifths grid item push
            .#{$grid-item-prefix}-push-#{$i}-5 {
                left: $bp-fifth-width;
            }

            // Add fifths grid item pull
            .#{$grid-item-prefix}-pull-#{$i}-5 {
                right: $bp-fifth-width;
            }
        }
    }
}
