.row,
.col {
  box-sizing: border-box; }


.row {
  margin: 0 -1rem;
  zoom: 1;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

.col {
  position: relative;
  float: left;
  padding: 0.75rem 1rem;
  width: 100%;
  vertical-align: top; }

.col-np {
  padding: 0; }

.row-np > .col {
  padding: 0; }

.row-center {
  text-align: center;
  font-size: 0; }
  .row-center > .col {
    font-size: 1rem;
    float: none !important;
    display: inline-block;
    text-align: left; }

.row-reverse.g-flex {
  flex-flow: row-reverse wrap; }
.row-reverse > .col {
  float: right; }

@media (min-width: 993px) {
  .row-1 > .col {
    width: 100%; }
    .row-1 > .col:nth-of-type(1n) {
      clear: none; }
    .row-1 > .col:nth-of-type(1n+1) {
      clear: both; }

  .col-1 {
    width: 8.33333%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-1 {
    margin-left: 8.33333%; }

  .col-push-1 {
    left: 8.33333%; }

  .col-pull-1 {
    right: 8.33333%; }

  .col-1-5 {
    width: 20%; }

  .col-offset-1-5 {
    margin-left: 20%; }

  .col-push-1-5 {
    left: 20%; }

  .col-pull-1-5 {
    right: 20%; }

  .row-2 > .col {
    width: 50%; }
    .row-2 > .col:nth-of-type(1n) {
      clear: none; }
    .row-2 > .col:nth-of-type(2n+1) {
      clear: both; }

  .col-2 {
    width: 16.66667%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-2 {
    margin-left: 16.66667%; }

  .col-push-2 {
    left: 16.66667%; }

  .col-pull-2 {
    right: 16.66667%; }

  .col-2-5 {
    width: 40%; }

  .col-offset-2-5 {
    margin-left: 40%; }

  .col-push-2-5 {
    left: 40%; }

  .col-pull-2-5 {
    right: 40%; }

  .row-3 > .col {
    width: 33.33333%; }
    .row-3 > .col:nth-of-type(1n) {
      clear: none; }
    .row-3 > .col:nth-of-type(3n+1) {
      clear: both; }

  .col-3 {
    width: 25%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-3 {
    margin-left: 25%; }

  .col-push-3 {
    left: 25%; }

  .col-pull-3 {
    right: 25%; }

  .col-3-5 {
    width: 60%; }

  .col-offset-3-5 {
    margin-left: 60%; }

  .col-push-3-5 {
    left: 60%; }

  .col-pull-3-5 {
    right: 60%; }

  .row-4 > .col {
    width: 25%; }
    .row-4 > .col:nth-of-type(1n) {
      clear: none; }
    .row-4 > .col:nth-of-type(4n+1) {
      clear: both; }

  .col-4 {
    width: 33.33333%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-4 {
    margin-left: 33.33333%; }

  .col-push-4 {
    left: 33.33333%; }

  .col-pull-4 {
    right: 33.33333%; }

  .col-4-5 {
    width: 80%; }

  .col-offset-4-5 {
    margin-left: 80%; }

  .col-push-4-5 {
    left: 80%; }

  .col-pull-4-5 {
    right: 80%; }

  .row-5 > .col {
    width: 20%; }
    .row-5 > .col:nth-of-type(1n) {
      clear: none; }
    .row-5 > .col:nth-of-type(5n+1) {
      clear: both; }

  .col-5 {
    width: 41.66667%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-5 {
    margin-left: 41.66667%; }

  .col-push-5 {
    left: 41.66667%; }

  .col-pull-5 {
    right: 41.66667%; }

  .col-5-5 {
    width: 100%; }

  .col-offset-5-5 {
    margin-left: 100%; }

  .col-push-5-5 {
    left: 100%; }

  .col-pull-5-5 {
    right: 100%; }

  .row-6 > .col {
    width: 16.66667%; }
    .row-6 > .col:nth-of-type(1n) {
      clear: none; }
    .row-6 > .col:nth-of-type(6n+1) {
      clear: both; }

  .col-6 {
    width: 50%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-6 {
    margin-left: 50%; }

  .col-push-6 {
    left: 50%; }

  .col-pull-6 {
    right: 50%; }

  .row-7 > .col {
    width: 14.28571%; }
    .row-7 > .col:nth-of-type(1n) {
      clear: none; }
    .row-7 > .col:nth-of-type(7n+1) {
      clear: both; }

  .col-7 {
    width: 58.33333%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-7 {
    margin-left: 58.33333%; }

  .col-push-7 {
    left: 58.33333%; }

  .col-pull-7 {
    right: 58.33333%; }

  .row-8 > .col {
    width: 12.5%; }
    .row-8 > .col:nth-of-type(1n) {
      clear: none; }
    .row-8 > .col:nth-of-type(8n+1) {
      clear: both; }

  .col-8 {
    width: 66.66667%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-8 {
    margin-left: 66.66667%; }

  .col-push-8 {
    left: 66.66667%; }

  .col-pull-8 {
    right: 66.66667%; }

  .row-9 > .col {
    width: 11.11111%; }
    .row-9 > .col:nth-of-type(1n) {
      clear: none; }
    .row-9 > .col:nth-of-type(9n+1) {
      clear: both; }

  .col-9 {
    width: 75%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-9 {
    margin-left: 75%; }

  .col-push-9 {
    left: 75%; }

  .col-pull-9 {
    right: 75%; }

  .row-10 > .col {
    width: 10%; }
    .row-10 > .col:nth-of-type(1n) {
      clear: none; }
    .row-10 > .col:nth-of-type(10n+1) {
      clear: both; }

  .col-10 {
    width: 83.33333%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-10 {
    margin-left: 83.33333%; }

  .col-push-10 {
    left: 83.33333%; }

  .col-pull-10 {
    right: 83.33333%; }

  .row-11 > .col {
    width: 9.09091%; }
    .row-11 > .col:nth-of-type(1n) {
      clear: none; }
    .row-11 > .col:nth-of-type(11n+1) {
      clear: both; }

  .col-11 {
    width: 91.66667%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-11 {
    margin-left: 91.66667%; }

  .col-push-11 {
    left: 91.66667%; }

  .col-pull-11 {
    right: 91.66667%; }

  .row-12 > .col {
    width: 8.33333%; }
    .row-12 > .col:nth-of-type(1n) {
      clear: none; }
    .row-12 > .col:nth-of-type(12n+1) {
      clear: both; }

  .col-12 {
    width: 100%; }

  .col-first {
    clear: left; }

  .col-last {
    clear: right; }

  .col-offset-12 {
    margin-left: 100%; }

  .col-push-12 {
    left: 100%; }

  .col-pull-12 {
    right: 100%; } }

/*# sourceMappingURL=style.css.map */
