/*/* Animations */

/*.left-fast {
  @include animation(900ms, left-fast, ease);

}

.right-fast {
 @include animation(900ms, right-fast, ease);
}

.roll-in-left {
 @include animation(900ms, roll-in-left, ease);
}

.up {
  @include animation(900ms, up, ease);
}

.down {
  @include animation(900ms, down, ease);
}

.fade-in {
  @include animation(900ms, fade-in, ease);
}

.delay {
  @include animation-delay (1s);
}

.delay2 {
  @include animation-delay (1.2s);
}
*/

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}



/* KEYFRAMES */


@include keyframe(left-fast){
0%{ opacity: 0; @include prefixer(translateX, 100px);}
100%{ opacity: 1; @include prefixer(translateY, 0);}
 }

@include keyframe(right-fast){
0%{ opacity: 0; @include prefixer(translateX, -100px);}
100%{ opacity: 1; @include prefixer(translateY, 0);}
 }

 @-webkit-keyframes roll-in-left{
0%{ opacity: 0; margin-left:-500px; -webkit-transform:rotateX(550deg);}
100%{ opacity: 1;}
 }

@include keyframe(up){
0%{ bottom:-185px;}
100%{ bottom:0px;}
 }

@include keyframe(down){
0%{ bottom:0px;}
100%{ bottom:-185px;}
 }


@include keyframe(fade-in){
0%{ @include opacity(0)}
100%{ @include opacity(1)}
 }


@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }


.fade {
  opacity:0;
}

.builder-section:first-child {
	opacity:0;
}

.fade-in {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.content-animate {
  visibility:hidden;
}



/* SENCHA ANIMATIONS */
