.hero {
    @media (max-width:$md){
        height:370px !important;
        background-position: left;
    }
    h1 {
        text-transform: uppercase;
        @media (max-width:$md){
       font-size: 1.75rem;
    }
        
    }
    .container-fluid {
        display: flex;
        align-items: center;
        height:100%;
        z-index: 3;
        position: relative;
        *:last-child {
            margin-bottom: 0;
        }
        h1,h2,h3,h4{
            line-height: 1.1
        }
        h1,h2,h3,h4{
            color:$secondary;
        }
    }

    &.header-dark {
        h1,h2,h3,h4 {
            color:$secondary;
        }
        p {
            color:white;
        }
        .overlay {
            background: rgb(45, 43, 47);
            mix-blend-mode:multiply;
        }
    }
    &.header-light {
        
        .overlay {
            background: rgba($white,.25);
        }
        h1,h2,h3,h4 {
            color:$secondary;
        }
        p {
            color:$white;
        }
    }


    .overlay {
        
    }

    &.header-notheme {
        .overlay {
            display: none;
        }
    }

    position: relative;
    overflow: hidden;
    padding: 4rem 2rem;
    background-size: cover;
    background-position: center;
    .container {
        height:100%;
    }


    .content * {
        color: $white;
    }

}