* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

body {
  overflow-x:hidden;
  background:$light;
}

.card {
  background: white;
  padding:20px;
  box-shadow:$drop-shadow3;
  margin-top:15px;
  margin-bottom:15px;
}

.callouts {
  margin-top:5em;
}

.grid-callouts {
  * {
    color:white;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      width:33%;
      float:left;
      @include transition(.3s all);
      &:hover {
        background:$purple-dark
      }
    }
  }
}


#centers {
  .col-xs-12.text-center {
    margin-bottom:10em;
  }
  .flex-parent {
    align-items:center;
  }
}

.callout {
  padding:4em 10em;
  height:100%;
  position: relative;
  * {
    color:white;
  }
  &.blue {
    background:rgba($blue,.6);
    @include viewport(md){
      left:-5em;

    }
  }
  &.green {
    background:rgba($green,.6);
    @include viewport(md){
      top:-10em;
      right:-5em;
    }

  }
  &.purple {
    background:rgba($purple,.6);
    @include viewport(md){
      left:-5em;

    }
  }
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

.hero-content {
  padding:20em 5em;
  background: #f5f5f7;
}

.grid-callouts {
  background:$purple;
  padding:0;
}

/* MAIN */

section {
  @extend .cf !optional;
  padding:8em 0;
    
}

.flex-parent {
  flex-direction:row;
  display: flex;
  flex-wrap:wrap;
}

.wrap {
  max-width: 1200px;
  margin:auto;
  &.sm-wrap {
    max-width: 800px;
  }
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}


/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* Responsive Video Embeds */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}


.builder-WhiteSpace{

}

.md-wrap {
  max-width: 940px;
}


.overlay {
  display: flex;
  flex-direction:column;
  justify-content:center;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(white,.95);
  z-index:2;
  @include transition(.3s all);
  padding:2em;
}


.builder-section {
  margin-bottom: 8em;
  padding:0 3em;
  width:100%;
  @extend .cf !optional;
  @include viewport(lg){
    padding:0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

/* Full Bleed Images */

.builder-leftRightFullWidthBleed{
  padding: 0;
}

.builder-bleedImage {
  margin-left:-10%;
  margin-right:-10%;
  @include viewport(sm){
    margin: 0;
  }
}


.bleed-image-left {
  @include viewport(sm){
    position: absolute;
    left:-10%;
  }
}

.bleed-image-right {
  @include viewport(sm){
    position: absolute;
  }
}

  .padding-bottom {
    padding-bottom:200px;
    @include viewport(sm){
    margin-right: -15px;  
    p {
      &:last-child {
        margin-bottom: 1em;
      }
    }

    }
  }

.bleed-image-left {
  @include viewport(sm){
    left:-10%;
  }
}

.bleed-image-right {
  @include viewport(sm){
    right:-10%;
  }
}



footer {
  padding:4em 2em;
  margin-top: 4em;
  .container-fluid {
    border-top: solid 1px $secondary;
    padding: 4em 0 0;

  }
  li,a {
    font-size: 1.25rem;
    color:$primary;
  }
}


.blog {
  article {
    border:solid 1px $secondary;
    margin-bottom: 5em;
    padding:5em;
    
    .leadin {
      margin-bottom: 2em;
    }

    h1 {
      a {
        &:hover {
          color:$secondary;
        }
      }
    }

    a {
      color:$primary;
      &:visited {
        color:$primary
      }
    }
    .read-this {
      font-family: serif;
      text-decoration: underline;
      color:$secondary;
      font-weight: 100;
      &:hover {
        color:$primary;
      }
      &:visited {
        color:$secondary;
      }
    }
  }
}

.grid-callouts ul {
  list-style: none;
  position: relative;
  padding: 0;
  width:100%;
  margin:0;
}
.grid-callouts li {
  float: left;
  background: $purple;
  position: relative;
  width:33%;
}
.grid-callouts li{
  overflow: hidden;
}
.grid-callouts li div {
  position: absolute;
  background:$purple-dark;
  width: 100%;
  height: 100%;
}
.grid-callouts li div span {
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.grid-callouts li  div {
  top: 0px;
  left: -100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.grid-callouts li:hover div{
  left: 0px;
}



