.mainnav {
@include transition(all .5s);
	ul{
		float:right;
		li {
			&.active {
				a {
					color:$secondary;
				}
			}
			float:left;
			a {
				padding:3em 1em;
				font-size: 1.5rem;
				text-transform: uppercase;
				display: inline-block;
				color:$primary;
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}

header {
	padding:4em 2em;
	@include viewport(lg){
		padding:4em 0;
	}
}


