body {
  font: 100%/1.5 $body;
  color: $primary;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $secondary;
  margin: 0 0 20px;

}

h1 {
  font-size: 3rem;
  font-weight: 400;
  @include viewport(md){
  font-size: 4rem;

  }
}

h2 {
  font-size: 2.75rem;
  @include viewport(md){
  font-size: 3.25rem;

  }
}

h3 {
  font-size: 2rem;
  @include viewport(md){
  font-size: 2.5rem;

  }

}

h4 {
  font-size: 3rem;
  @include viewport(md){
  font-size: 3.7rem;

  }
}


.serif {
  font-family: $serif;
}

/* PARAGRAPH */

p,li {
 font-family: $body;
  font-size: 2rem;
  line-height: 1.4;
  color:$primary;
  font-weight: 100;

}
p {
  a {
    font-weight: 600;
  }
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$secondary-light;
    text-decoration: none;
  }
  &:visited {
    color:$secondary;
  }
}

/* LISTS */
.main-content {
  ul,ol {
    margin:1em;
    padding:0 0 0 3em;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

.button {
font-size: 1.25rem;
margin:3em 0;
display: inline-block;
padding:1em 2em;
background:white;
color:$secondary;
border-radius:90px;
}