{#
# Home page layout template.
# ---------------
#
#}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if entry.title is defined and entry.sectionId != 1 %}{{ entry.title|title }} &ndash; {% elseif title is defined %}{{ title|title }} &ndash; {% endif %} {{ siteName }}</title>

    <meta name="description" content="{% if entry is defined%}{{ (entry.pageDescription|length) ? entry.pageDescription : siteControls.defaultSeo }}{% else %}{{ siteControls.defaultSeo }}{% endif %}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	
  	{% include '_includes/og' %}
	
    <link rel="icon" href="{% if siteControls.favicon | length %}{{ siteControls.favicon.first.url( 'favicon' ) }}{% endif %}" type="image/png">

    <link rel="stylesheet" href="/resources/css/production.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/resources/css/fallback.css">
    <link rel="stylesheet" href="/resources/css/ie8.css">
    <![endif]-->


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ siteControls.gaCode }}');</script>
    <!-- End Google Tag Manager -->
    </head>

    <body class="{{ craft.request.getSegment(1) ?: 'home' }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ siteControls.gaCode }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    		{% include '_includes/main-nav' %}
    		{% block content %}
    		{% endblock %}
    		{% include '_includes/footer' %}

        <script src="/resources/js/production.min.js"></script>
        <!-- Facebook Sharing -->
        <script>
        (function(d, s, id) {
    		  var js, fjs = d.getElementsByTagName(s)[0];
    		  if (d.getElementById(id)) return;
    		  js = d.createElement(s); js.id = id;
    		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=408430689261006";
    		  fjs.parentNode.insertBefore(js, fjs);
    		}(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>